<!-- Megan Barbier edited on 06/13/2022-->
h1{
    color:pink;
    text-align: center;
    class="site-heading-upper text-primary mb-3">Megan Barbier's Website</span>
}

nav { 
    color: plum;
    text-align: left;
}

h1{
    color: white
    class="site-heading text-center text-faded d-none d-lg-block"
}
section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size:4rem; 
    font weight:400px;
    class="bg-faded p-5 rounded"><p class="mb-0" School
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-size: 100px;
    font-style:italic
  }

